**/target/
**/.idea/
**/*.iml

#Angular
**/.angular/cache
**/.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
**/testem.log
**/typings

# Node
**/node_modules
**/npm-debug.log
**/yarn-error.log